### Java ###
*.class
*.jar
*.war
*.ear

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Spring Boot config (보안 중요) ###
src/main/resources/application.yml
src/main/resources/application-*.yml
src/main/resources/application.properties
src/main/resources/application-*.properties
.env
*.env

### Logs ###
*.log
logs/
nohup.out

### IntelliJ ###
.idea/
*.iml
*.iws
out/

### Eclipse / STS ###
.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/

### VSCode ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

